.hm-services-sec{
    display: block;
    clear: both;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hm-services-sec .icon-box{
    padding: 30px 15px 20px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.icon-box:before{
    top: 0;
    left: 0;
    border-width: 1px 0 0 1px;
}
.icon-box:before{
    content: '';
    position: absolute;
    width: calc(100% - 35px);
    height: calc(100% - 35px);
    border: 1px solid #ccc;
    pointer-events: none;
    transition: .33s all ease;
}
.icon-box .box-top{
    top:0;
}
.icon-box .box-top{
    position: relative;
    will-change: transform;
    transition: .33s all ease;
}
.icon-box .box-icon{
    display: block;
    margin-bottom: 15px;
}
.hm-services-sec{display:block; clear:both; position:relative; padding-top:20px; padding-bottom:20px;}
.hm-services-title{ margin-bottom:40px}
.hm-services-title p{font-size:16px; margin:0;}
.mid-text-box-inner  .hm-services-sec h2:before{background:none;}
.hm-services-sec h2{font-size:35px; position:relative; color:#050521; font-weight: 700; margin-top:0; margin-bottom:10px;}
.hm-services-sec h2 span{color: #004D84; font-weight:700;}
.hm-services-sec h2:after {content: ''; display: block; width:80px; height:3px; background:#ca970b; left:0;margin: 4px auto 0;position:absolute; top:100%;}
.hm-services-sec .icon-box{padding:30px 20px;position: relative; text-align:center; margin-bottom:30px;height:100%}
.icon-box:before, .icon-box:after {content: ''; position: absolute; width: calc(100% - 35px); height: calc(100% - 35px); border: 1px solid #ccc; pointer-events: none;   transition: .33s all ease;}
.icon-box:before {top: 0; left: 0; border-width: 1px 0 0 1px;}
.icon-box:after {bottom: 0; right: 0; border-width: 0 1px 1px 0;}
.icon-box .box-top, .icon-box .box-body {position: relative; will-change: transform; transition: .33s all ease;}
.icon-box .box-top {top: 0;}
.icon-box .box-icon {display:block; margin-bottom:15px;}
.icon-box h5{line-height: 1.11111;font-size: 16px; font-weight: 700;color: #004D84; margin:0 0 10px; position:relative;}
.icon-box h5 a{color: #004D84;}
.text-gray-05 {color: rgba(0,0,0,.5); margin:0;}
.height-fill{width:80%;margin:15px auto;height:100px}
.height-fill-team{margin:15px auto; background-color: #fff ; position: relative;}
.height-fill .height-fill-side {
    display: block;
    content: "";
    position: absolute;
    left: 7px;
    top: 50%;
    background-color: #fff;
    z-index: 1;
    transform:translate(0, -50%) skewX(-8deg);
    bottom: 0;
    width:75px;
    height:75px;
    -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}
.height-fill .height-fill-side i{
    color:#ca970b;
    font-size:40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) skewX(8deg);

}
.icon-box.hover:before, .icon-box.hover:after, .icon-box:hover:before, .icon-box:hover:after {width: 100%; height: 100%; border-color: #f6f6f6; box-shadow:1px 5px 5px 1px rgba(0, 0, 0, 0.06)}
.btn-load{color: #fff; font-size: 16px; padding: 13px 35px;line-height: 1.5; background-color: #004D84; border-color: #004D84; border-radius:0;}
.btn-load:hover, .btn-load:focus{background-color: #333; border-color: #333; color:#fff;}

.mid-text-box-inner .news-item-box{margin-bottom: 30px; padding:20px 20px;background-color: #fff; transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s; box-shadow:0 0 5px #ccc; position:relative;}
.mid-text-box-inner .news-item-box h3{font-size:24px; margin:-20px -20px 30px;  background:#d7be61; padding:10px 0; color:#000; position:relative; text-align:center;}
.mid-text-box-inner .news-item-box h3:after{border-left: 15px solid transparent; border-right:15px solid transparent;  border-top: 15px solid #d7be61; content:""; position:absolute; height:0; width:0; left:0; right:0; margin:auto; top:100%;}
.mid-text-box-inner .news-item-box h3:before{background:none;}

.hm-text-box{margin-bottom: 30px; padding:20px 20px;background-color: #fff; transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s; box-shadow:0 0 5px #ccc; position:relative;}
.mid-text-box-inner .hm-text-box h3{font-size:24px; margin:-20px -20px 30px;  background:#d7be61; padding:10px 15px; color:#000; position:relative;}
.mid-text-box-inner .hm-text-box h3:after{border-left: 15px solid transparent; border-right:15px solid transparent;  border-top: 15px solid #d7be61; content:""; position:absolute; height:0; width:0; left:15px; top:100%;}
.mid-text-box-inner .hm-text-box h3:before{background:none;}
.hm-text-box p{margin-bottom:11px;}

.newsContainer{
    height:250px;
}
.newsContainer .icon-box{
    height:100%;
    overflow-y:hidden;
}
.newsAnimation{
    position: relative;
    animation: scrollEffect 7s linear infinite;
}
.allButton{
    transform: skew(-8deg);
    background-color: #004D84;
    color: #ffffff;
    box-shadow: 0 -2px 0 0 rgb(24 24 24 / 15%) inset;
    padding: 1.125em 1.875em;
}
.allButton:hover{
    background-color: #d7be61;
    color:#fff;
}
.index-header{
    height:550px;
}
.index-header img{
    width: 100%;
    height:100%;
}
.index-banner{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/caImg4.jpg);
}
.index-banner-block{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    inset: 0px;
    background-color: rgba(85, 77, 69, 0.70);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.index-content-block {
    display: flex;
    flex-direction: column;
}
.index-banner-title {
    font-size: 3.5rem;
    line-height: 64px;
    color: #fff;
    font-weight: 800;
    text-shadow: 0 2px 5px rgb(0 0 0 / 50%);
    font-family: 'Merriweather', sans-serif;
    position: relative;
}
.index-content-block h1:after {content: ''; display: block; width:120px; height:3px; background:#e49f37; left:0;margin: 4px auto 0;position:absolute; top:100%;}
.index-banner-title span{
    color: #004D84;
}
.superheadline{
    justify-content: flex-start;
    font-size: 1.125rem;
    color: #ffffff;
    letter-spacing: 0;
    font-size: 1rem;
    margin: 0 0 .6em;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}
.superheadline:before{
    border-top: 2px solid #e49f37;
    width: 4.375rem;
    margin-right: 10px;
    content: ' ';
    margin-top: -1px;
    margin-bottom: 0;
    height:3px;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
}
.review {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(../images/caImg7.jpg) , linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    width: 100%;
  height: auto;
  background-size: cover;
}
.carousel-item {
    text-align: center;
}
.banner-main2 .carousel-caption {
    position: inherit;
}
.banner-main2 .carousel-caption span {
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    padding: 20px 0;
    text-transform: uppercase;
    display: block;
}
.banner-main2 .carousel-caption p {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 25px;
}
.banner-main2 .carousel-caption a {
    font-size: 17px;
    transition: ease-in all 0.5s;
    /* background-color: #fff;
    color: #000; */
    max-width: 200px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #004D84;
    opacity: 1;
    font-size: 30px;
    color: #FFF;
    border-radius: 41px;
}
#main_slider a.carousel-control-next {
    position: absolute;
    top: 36%;
    margin-right: -8%;
}
#main_slider a.carousel-control-prev {
    position: absolute;
    top: 36%;
    margin-left: -8%;
}
/* Services css start */
.serviceTitle{
    color: #004D84
}
.serviceCard{
    /* margin:20px auto; */
    /* padding: 30px; */
    /* box-shadow: 0px 0px 15px rgb(0 0 0 / 10%); */
    background-color: #fff!important;
    border: 0 !important;
    /* border-radius: 25px 0!important; */
}
.serviceCard i{
    position: absolute;
    right:20px;
    top:50%;
    transform:translate(-50%,0);
    transition: all 1s linear;
    color:#004d84;
}
.serviceCard:hover i{
  right:10px;
  color:#000
}
.serviceCard .card-header{
    background-color: #fff!important;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,2.125)!important;
    border-radius:25px 0!important;
}

/* services css end */
/* Contact us css start */
.contactHeader{
    padding: 10px 0;
    border-bottom: 1px solid #f6f6f6
}
.contactHeader p a{
    color: #004D84;
    text-decoration: none;
    border-bottom: 1px solid #004d84;
}
.contactHeader p a:hover{
    color: #000;
    text-decoration: none;
    border-bottom:none;
}
.column-inner{
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding: 20px;
    border: 0.5px solid rgba(0,0,0,0.06);
    vertical-align: center;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
    height:190px;
}
.column-inner .column-inner-content{
    width: 100%;
    height: 100%;
}
.column-inner .column-inner-content .column-service{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 100%;
    height: 100%;
}
.column-icon-holder{
    box-shadow: 0 0 0 1em #004D84 inset;
    color: #ffffff;
    background-color: transparent;
    transform: skewX(-8deg);
font-size: 50px;
position: relative;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    flex: 1 0 auto;
    display: block;
    text-align: center;
    margin-left:12px;
}
.contactForm{
    border-radius: 50px!important;
    padding: 1.25em!important;
    height: 3.25em!important;
    border: 1px solid rgba(24,24,24,.2)!important;
}
.contactForm-textarea{
    border-radius: 26px!important;
    padding: 1.25em!important;
    border: 1px solid rgba(24,24,24,.2)!important;
}
.column-icon-holder i{
    color:#fff;
    font-size:40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) skewX(8deg);
}
.column-service-content{
    padding: 0 0 0 1.5em;
    order: 2;
    text-align: left;
    flex: 1 1 auto;
}
.service-content-title{ 
    font-size: 1.5625em;
    font-weight: 700;
    letter-spacing: -.03em;
}
.service-content-text{
    padding-top: .7rem;
}
.service-content-text-links a{
    color: #6d6c6c;
    text-decoration: none;
}
.service-content-text-links a:hover{
    color: #000;
    text-decoration: none;
}
.map-responsive{
overflow:hidden;
/* padding-bottom:35%; */
position:relative;
height:100%;
/* transform: rotate(-4deg); */
border-radius:50px;
/* border-bottom:5px solid #004d84;
border-right: 5px solid #004d84; */
}

.map-responsive iframe{

    left:0;
   top:0;
   height:100%;

    width:100%;

    position:absolute;

}
.social-links-contact{
    
        background: #252525;
        padding: 30px 0; 
    
}
.follow {
    text-align: center;
}
.follow ul li {
    display: inline-block;
    margin: 0 4px;
}
.follow h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 25px;
}
.follow ul li a {
    color: #252525;
    background: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
}
.contactBlockContainer{
    background-color: #252525;
}
.contactBlock{
    padding:25px 15px;
    border-radius: 0 0 80px 0;
    background: #fff;
}
/* Contact us css end */
blockquote:before {
    content: '\e900';
    font-family: Avantage;
    display: block;
    font-size: 6em;
    line-height: 1;
    position: absolute;
    top: -.15em;
    left: 0;
    opacity: .1;
    color: currentColor;
}

@keyframes scrollEffect{
    0% {
        top:0px
       
    }
    100% {
     top:-550px
    }
}
.newsAnimation:hover {
    animation:0;
}

@media (min-width: 992px) and (max-width: 1199px) {
#main_slider a.carousel-control-next, #main_slider a.carousel-control-prev {
    display: none;
}
}